.BurgerButton {
  cursor: pointer;
  width: 36px;
  height: 36px;
  background-color: var(--brand-color);
  border-radius: 6px;
  color: var(--white-color);
  text-align: center;
  transition: all .1s ease;
}

.active {
  transition: all .1s ease;
  background-color: var(--brand-color-active);
}

.BurgerButton > svg {
  fill: var(--white-color);
  font-size: 36px;
}

@media screen and (min-width: 993px) {
  .BurgerButton {
    display: none;
  }
}