.ContactForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ContactForm__wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.ContactForm__wrapper input, .ContactForm__wrapper textarea {
  width: 100%;
  font-size: 1.8rem;
  padding: 10px 20px 10px;
  margin-bottom: 15px;
  background-color: var(--dark-color-2);
  border: 1px solid var(--dark-color-2);
  border-radius: 10px;
  box-shadow: 0 4px 4px 2px var(--dark-transparency);
  color: var(--white-color);
  -webkit-appearance: none;
}

.ContactForm__wrapper textarea {
  min-height: 148px;
}

.FormSpinner {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 45px 25px;
  border-radius: 10px;
  background-color: rgb(28, 33, 27, .75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.FormSpinner__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-color-1);
  height: 50%;
  border-radius: 15px;
  box-shadow: 0 0 4px 4px var(--dark-transparency);
}

.FormSpinner__content__icon {
  font-size: 4.8rem;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: var(--brand-color-active);
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  color: var(--brand-color);
  animation: spinner .8s linear infinite;
}

.error {
  color: #ff6000;
}

.FormSpinner__content__message {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}

@media screen and (min-width: 600px) {
  .ContactForm {
    width: 540px;
  }

  .ContactForm__wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 993px) {
  .ContactForm {
    width: 768px;
  }
}