.Header {
  width: 100%;
  min-width: var(--mobile-minwidth);
  position: fixed;
  height: 62px;
  left: 0px;
  top: 0px;
  padding: 0 15px;
  background-color: var(--dark-color-1);
  color: var(--brand-color);
  box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.Header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header nav, .Header aside {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px){
  .Logo span {
    display: inline-block;
  }
}