.Hero {
    padding: 0 15px;
    width: 100%;
    min-width: 320px;
    min-height: 658px;
    margin-top: var(--top-margin);
    background: url(../assets/code_cover.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero__card {
    width: 277px;
    height: 277px;
    border-radius: 15px;
    background-color: var(--dark-color-1);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Hero__card__image {
    position: relative;
    top: -110px;
    left: 29px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: solid 10px var(--brand-color);
    z-index: 98;
    align-self: flex-start;
    justify-self: flex-start;
}

.Hero__card__image img {
    width: 100%;
    border-radius: 50%;
}

.Hero__card__title {
    position: relative;
    bottom: 102px;
    font-size: 3.2rem;
    line-height: 3.7rem;
    letter-spacing: -0.05em;
    font-weight: 700;
}

.Hero__card__subtitle {
    position: relative;
    bottom: 98px;
    font-size: 2rem;
    line-height: 2.3rem;
}

.Hero__card__socialLinks {
    position: relative;
    bottom: 50px;
    font-size: 1.8rem;
}