.Logo {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  cursor: pointer;
}

.Logo img {
  width: 48px;
  height: 48px;
}

.Logo span {
  display: none;
}

@media screen and (min-width: 469px) {
  #root {
    max-width: 768px;
  }
}

@media screen and (min-width: 480px){
  .Logo span {
    display: inline-block;
  }
}