:root {
  --site-font: 'Ubuntu', sans-serif;
  --mobile-minwidth: 320px;
  --mobile-padding: 0 15px;
  --top-margin: 62px;

  --brand-color: #00BE9D;
  --brand-color-active: #7fc7bb;
  --dark-color-1: #1C211B;
  --dark-color-2: #2A382C;
  --white-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--site-font);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

#root {
  width: 100vw;
    min-width: var(--mobile-minwidth);
}