.Menu {
  margin-right: 18px;
  display: none;
  padding-top: 7px;
}

.Menu a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -.1rem;
  display: inline-block;
}

.Menu a:hover, .Menu a:active {
  color: var(--brand-color);
  text-decoration: underline;
}

.Menu ul{
  list-style: none;
}

.Menu ul li {
  padding: 0 10px;
  display: inline-block;
}

.Menu ul li:not(li:last-child) {
  margin-right: 2px;
}

@media screen and (min-width: 993px) {
  .Menu {
    display: inline-block;
  }
}