.Menu {
  margin-right: 15px;
  display: none;
}

.Menu a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2rem;
}

.Menu a:hover, .Menu a:active {
  color: var(--brand-color);
  text-decoration: underline;
}

.Menu ul{
  list-style: none;
}

.Menu ul li {
  display: inline-block;
}

.Menu ul li:not(li:last-child) {
  margin-right: 15px;
}

@media screen and (min-width: 1024px) {
  .Menu {
    display: inline-block;
  }
}