.Resume {
  background-color: var(--dark-color-1);
}

.Resume__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-right: 2px solid var(--gray-color);
  padding: 10px 0;
  margin-bottom: 15px;
}

.Resume__wrapper--right{
  display: flex;
  flex-wrap: wrap;
  border-left: 2px solid var(--gray-color);
  flex-direction: row-reverse;
  padding: 10px 0;
  margin-bottom: 15px;
}

@media screen and (min-width: 769px) {
  .Resume .section__row__title {
    text-align: center;
  }

  .Resume__wrapper {
    margin-right: 10px;
  }

  .Resume__wrapper--right{
    margin-left: 1px;
  }
}



@media screen and (min-width: 992px) {
  .Resume .wrapper {
    justify-content: space-between;
  }
  
  .Resume .wrapper .section__row {
    width: 49%;
  }
}