.Skills {
  justify-content: center;
}

.tags {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  row-gap: 10px;
  column-gap: 10px;
  justify-items: center;
}

@media screen and (min-width: 480px){
  .Skills .section__row {
    width: 75%;
  }
}